* {
  box-sizing: border-box;

}

.newanchor:link {
  color: black;
  text-decoration: none;
  font-size: 1vw;
}

.newanchor:hover {
  color: black;
  text-decoration: underline;
  font-size: 1vw;

}

.footertext {
  padding-bottom: 10px;
}

body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: "Times New Roman", Times, serif;
}

#logolink {
  height: 47px;
  width: 90px;

}

.inputtext {
  width: 10vw;
  font-size: 1vw;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  font-size: 1vw;

}

#eventsmobile {
  display: none;

}


a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;

}

.slideshowimages {
  width: 100%;
  height: 250px;
}


#logo {
  margin-left: -15px;
  margin-top: -13px;
  height: 250%;
  width: 150%;
  color: rebeccapurple;
}

.left {
  background-color: darkgray;
  padding: 20px;
  margin-top: 7px;
  float: left;
  width: 20%;
  text-align: center;
  height: auto;
  font-size: 1.3vw;

}

.leftspare {
  background-color: #c50505;
  padding: 20px;
  margin-top: 7px;
  float: left;
  width: 20%;
  text-align: center;
  height: auto;
  font-size: 1.3vw;
}

.weather {
  font-size: 1vw;
}

.left a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 10px 20px;
}


.right {
  background-color: darkgray;
  float: left;
  width: 20%;
  padding: 20px;
  margin-top: 7px;
  text-align: center;
  height: auto;
  font-size: 1.54vw;
}

.topnavbar {
  overflow: hidden;
  background-color: #474747;
}

.topnavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar a:hover {
  background-color: #ddd;
  color: black;
}

.topnavbar a.active {
  background-color: blue;
  color: white;
}

.topnavbar .icon {
  display: none;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #F8F8F8;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiperimages {
  width: 50vw;
  height: 500px;

}

.swipertext {
  color: red;
  background-color: #F8F8F8;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: -10px;
  width: 300px;
  text-align: center;
  width: 50vw;

}

.footer {
  background-color: #474747;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  margin-top: 10px;
}

.footerimage {
  width: 60px;
  padding-right: 10px;
  height: 60px;
}

.placestext {
  text-align: center;
  font-size: 1.5vw;
}

.headings {
  text-align: center;
  font-size: 2vw;
}

.righttext {
  font-size: 1vw;
}

.leftimage {

  content: url("images/OfficialSite.jpg");
  width: 100%;
}

@media only screen and (max-width:1280px) {

  /* For mobile phones: */
  .left,
  .leftspare {
    width: 30%;
    font-size: 1.5vw;
  }

  .right {
    width: 30%;
    font-size: 1.5vw;
  }

  .main {
    width: 40%;
  }

  .swiper-container {
    margin-top: 6vh;

    width: 100%;
    height: 100%;
  }

  .swiperimages {

    width: 30vw;
    height: 250px;
  }

  .swipertext {
    color: red;
    background-color: #F8F8F8;
    font-size: 2vw;
    position: absolute;
    bottom: -10px;
    width: 300px;
    text-align: center;
    width: 30vw;

  }

  .placestext {
    text-align: center;
    font-size: 1.5vw;
  }

  .headings {
    text-align: left;
    font-size: 2vw;
  }

  .righttext {
    font-size: 1.25vw;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 0.8vw;

  }
}

@media only screen and (max-width:1200px) {

  .left,
  .leftspare {
    width: 30%;
    font-size: 1.5vw;
  }

  .right {
    width: 30%;
    font-size: 1.5vw;
  }

  .main {
    width: 40%;
  }

  .swiper-container {
    margin-top: 6vh;

    width: 100%;
    height: 100%;
  }

  .swiperimages {

    width: 25vw;
    height: 25vh;
  }

  .swipertext {
    color: red;
    background-color: #F8F8F8;
    font-size: 2vw;
    position: absolute;
    bottom: -10px;
    width: 300px;
    text-align: center;
    width: 25vw;

  }

  .placestext {
    text-align: center;
    font-size: 1.5vw;
  }

  .headings {
    text-align: left;
    font-size: 2vw;
  }

  .righttext {
    font-size: 1.5vw;
  }


}

@media only screen and (max-width:1100px) {

  .left,
  .leftspare {
    width: 30%;
    font-size: 1.5vw;
  }

  .right {
    width: 30%;
    font-size: 1.5vw;
  }

  .main {
    width: 40%;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiperimages {
    margin-top: 4vh;

    width: 20vw;
    height: 20vh;
  }

  .swipertext {
    color: red;
    background-color: #F8F8F8;
    font-size: 2vw;
    position: absolute;
    bottom: -10px;
    width: 300px;
    text-align: center;
    width: 20vw;

  }

  .placestext {
    text-align: center;
    font-size: 1.5vw;
  }

  .headings {
    text-align: left;
    font-size: 2vw;
  }

  .righttext {
    font-size: 1.5vw;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 0.7vw;

  }
}

@media only screen and (max-width:800px) {

  .left,
  .leftspare {
    width: 30%;
    font-size: 1.5vw;
  }

  .right {
    width: 30%;
    font-size: 1.5vw;
  }

  .main {
    width: 40%;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiperimages {
    width: 15vw;
    height: 15vw;
  }

  .swipertext {
    color: red;
    background-color: #F8F8F8;
    font-size: 2vw;
    position: absolute;
    bottom: -10px;
    width: 300px;
    text-align: center;
    width: 15vw;

  }

  .placestext {
    text-align: center;
    font-size: 1.5vw;
  }

  .headings {
    text-align: left;
    font-size: 2vw;
  }

  .righttext {
    font-size: 1.5vw;
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
    font-size: 0.5vw;

  }
}



@media only screen and (max-width:600px) {

  /* For mobile phones: */
  .left,
  .leftspare,
  .main,
  .right {
    width: 100%;
    height: auto;
  }

  .left,
  .leftspare {
    font-size: 4vw;


  }

  .right {

    font-size: 4vw;


  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swipertext {
    color: red;
    background-color: #F8F8F8;
    font-size: 5vw;
    position: absolute;
    bottom: -10px;
    width: 300px;
    text-align: center;
    width: 60vw;

  }

  .swiperimages {
    width: 60vw;
    height: 250px;
  }

  #embedMap {
    width: 100%;
    height: 100%;
  }

  .placestext {
    text-align: center;
    font-size: 4vw;
  }

  .headings {
    text-align: center;
    font-size: 4vw;
  }

  .righttext {
    font-size: 4vw;
  }

  .leftimage {
    width: 100%;
    content: url("images/OfficialSite2.jpg");
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 4vw;

  }

  .inputtext {
    width: 50vw;
    font-size: 4vw;
  }

  #eventsdesktop {
    display: none;

  }

  #eventsmobile {
    display: inline;
    align-items: center;
  }

  .weather {
    font-size: 3vw;
  }

  .newanchor:link {
    color: black;
    text-decoration: none;
    font-size: 3vw;
  }

  .newanchor:hover {
    color: black;
    text-decoration: underline;
    font-size: 3vw;

  }
}




@media screen and (max-width: 600px) {
  .topnavbar a:not(:first-child) {
    display: none;
  }

  .topnavbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnavbar.responsive {
    position: relative;
  }

  .topnavbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnavbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

#embedMap {
  width: 100%;
  height: 330px;
}

#msg {
  width: 90%;
  height: 20px;
}


* {
  box-sizing: border-box;
}



/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .headingtext {

    font-size: 2vw;

  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h5 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 0 0;
  font-size: 1.5rem;
  color: black;
}

h6 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 1rem;
  color: black;
}



p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}




.card:hover {
  box-shadow: 2px 8px 45px rgba (0, 0, 0, .15);
  transform: translate3d(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}